body {
  margin: 0;
  color: #264143;
  background-color: #eddcd9;
}

h1 {
  margin: 0;
  padding: 30px;
}

.App {
  margin: 0;
  height: 100vh;
  padding-top: 30vh;
  text-align: center;
  background-color: #eddcd9;
}

.group{
  background: #e99f4c; /* rgb(52, 52, 97); */
  width: 180px;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: 100px 80px;
  border-radius: 15px;
}
input,select{
  background: none;
  border:0;
  /* color:#fff; */
}
input{
  padding-left: 10px;
}
select{
  padding: 15px;
}